version: "3.8"

services:
  leader:
    build: .
    container_name: leader
    environment:
      - ROLE=leader
      - PORT=8000
      - FOLLOWERS=http://follower1:8001,http://follower2:8002,http://follower3:8003,http://follower4:8004,http://follower5:8005
      - MIN_DELAY_MS=0
      - MAX_DELAY_MS=200
      - WRITE_QUORUM=3
      - REPLICATION_TIMEOUT_MS=5000
    ports:
      - "8000:8000"
    networks:
      - kvnet

  follower1:
    build: .
    container_name: follower1
    environment:
      - ROLE=follower
      - PORT=8001
    ports:
      - "8001:8001"
    networks:
      - kvnet

  follower2:
    build: .
    container_name: follower2
    environment:
      - ROLE=follower
      - PORT=8002
    ports:
      - "8002:8002"
    networks:
      - kvnet

  follower3:
    build: .
    container_name: follower3
    environment:
      - ROLE=follower
      - PORT=8003
    ports:
      - "8003:8003"
    networks:
      - kvnet

  follower4:
    build: .
    container_name: follower4
    environment:
      - ROLE=follower
      - PORT=8004
    ports:
      - "8004:8004"
    networks:
      - kvnet

  follower5:
    build: .
    container_name: follower5
    environment:
      - ROLE=follower
      - PORT=8005
    ports:
      - "8005:8005"
    networks:
      - kvnet

networks:
  kvnet:
    driver: bridge
